# Base directory containing data to be processed
SET_SRCDIR="/n/holylfs05/LABS/bhi/Lab/doeleman_lab/inatarajan/hops-tutorials/data/extracted/"

# list of directory names separated by ':' under $SRCDIR
SET_CORRDAT="2016.1.01154.V"

# directory where campaign metadata are to be found
SET_METADIR="/n/holylfs05/LABS/bhi/Lab/doeleman_lab/inatarajan/hops-tutorials/ehthops/ehthops/meta/eht2017/230GHz"

# path to eht-imaging source code
SET_EHTIMPATH="/n/holylfs05/LABS/bhi/Lab/doeleman_lab/inatarajan/software/src/eht-imaging"

# stages to run (i.e. directory names under hops-bx) as a space-separated string
stages="0.bootstrap 1.+flags+wins 2.+pcal 3.+adhoc 4.+delays 5.+close 6.uvfits 7.+apriori"

# 4-letter code representing year of observation
SET_YEAR="2017"

# Is mixedpol calibration needed?
SET_MIXEDPOL=false

# Are linearpol ALMA data present in separate "haxp" directories?
SET_HAXP=false

# An EAT-recognizable code; currently EHT2017, EHT2018, EHT2021, EHT2022 are recognized
SET_CAMPAIGN="EHT2017"
